/*text and font*/

body p {
  line-height: 120%;
}

.font-size-1 {
  font-size: 36px;
}

.font-size-2 {
  font-size: 30px;
}

.font-size-3 {
  font-size: 24px;
}

.font-size-4 {
  font-size: 20px;
}

.font-size-5 {
  font-size: 16px;
}

.raleway {
  font-family: 'Raleway', serif;
}

.open-sans {
  font-family: 'Open Sans', serif;
}

.source-san-pro {
  font-family: 'Source Sans Pro', serif;
}

.arvo {
  font-family: 'Arvo', serif;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 600;
}

.color-green {
  color: #48B6A1;
}

.color-grey-light {
  color: #9B9B9B;
}

.color-white {
  color: #ffffff;
}

.color-grey-dark {
  color: #4A4A4A;
}

.color-green-light {
  color: #7CD4C3;
}

/* hover effects on index page*/
.hover-image figure {
	margin: 0;
	position: relative;
}

.hover-image figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.hover-image figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #4A4A4A;
  color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.hover-image figure:hover figcaption {
	opacity: 0.9;
}
.hover-image figcaption p {
	margin-top: 70px;
  opacity: 1;
}

.parallax-container {
  height: 100vh;
}

.enlarge-text {
  color: #48B6A1;
  font-size: 1.2em;
  font-weight: bold;
}

.quote-amp {
  color: #48B6A1;
  font-size: 1.4em;
}

.grey-board {
  background-color: #4A4A4A;
  color: white;
}

.image-background {
  background-image: url(../image/gotable/personaBack.png);
  background-size: 100% 100%;
}

.image-description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer-space {
  height: 8.3vh;
}

.thinking-background {
  background-image: url(../image/gotable/designthinkBK.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.move-page {
  position: relative;
  top: 600px;
}

.final-background {
  background-image: url(../image/gotable/2B.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.move-up {
  height: 200px;
}

.final-footer {
  height: 2000px;
}

.hifi-background {
  background-image: url(../image/gotable/hifiBK.png);
  background-size: 100% 102%;
  background-repeat: no-repeat;
}

.enlarge-image {
height: auto;
  width: 125%;
}

.nav-bar {
  height: 168px;
}

.carousel {
  height: 400px;
}
.carousel .carousel-item {
  height: auto;
  width: 400px;
}

.mark1-background {
  background-image: url(../image/Halfmeter/Mask1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.onboarding-background {
  background-image: url(../image/gotable/issue.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 5.45%;
  padding-bottom: 5.45%;
  width: 100%;
  color: white;
}

.double-image {
  width: 100%;
  height: auto;
}

.halfmeter-section-header1 {
  background-image: url(../image/Halfmeter/searchbk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}

.halfmeter-section-header2 {
  background-image: url(../image/Halfmeter/insights.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}

.mark2-background {
  background-color: #6992A2;
  color: white;
}

.halfmeter-list li {
  color: #48B6A1;
  font-size: 2.0vw;

.halfmeter-section-header3 {
  background-image: url(../image/Halfmeter/redesign.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}

.bottom-align {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.space-inline {
  line-height: 120%;
}
