.half-image {
  max-width: 50%;
  height: auto;
}

.half-height {
  max-height: 50%;
  width: auto;
}

.introduction {
  font-family: Raleway, serif;
}

.hover-image figure {
	margin: 0;
	position: relative;
}

.hover-image figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.hover-image figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #4A4A4A;
  color: #ffffff;
  height: 100%;
  width: 100%;
  opacity: 0;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.hover-image figure:hover figcaption {
	opacity: 0.9;
}
.hover-image figcaption p {
	margin-top: 70px;
  opacity: 1;
}

.parallax-container {
  height: 100vh;
}

.enlarge-text {
  color: #48B6A1;
  font-size: 1.2em;
  font-weight: bold;
}

.section-header {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  color: #9B9B9B;
  text-align: center;
}

.description-text {
  font-family: Open Sans, serif;
  font-size: 1.67vw;
  line-height: 1.2em;
}

.description-amp {
  color: #48B6A1;
  font-weight: bold;
}

.quote-text {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  font-weight: 600;
  text-align: center;
}

.quote-amp {
  color: #48B6A1;
  font-size: 1.4em;
}

.grey-board {
  background-color: #4A4A4A;
  color: #FFFFFF;
}

.list-head {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  color: #48B6A1;
}

.list-item {
  font-family: Source Sans Pro, serif;
  font-size: 1.67vw;
  color: #9B9B9B;
}

.image-background {
  background-image: url(../image/gotable/personaBack.png);
  background-size: 100% 100%;
}

.persona-header {
  font-family: Raleway, serif;
  font-size: 1.67vw;
  font-weight: bold;
}

.persona-description {
  font-family: Open Sans, serif;
  font-size: 1.67vw;
  line-height: 1em;
}

.persona-item {
  list-style-type: disc;
  font-family: Raleway, serif;
  font-size: 1.67vw;
  line-height: 1em;
}

.image-description {
  font-family: Open Sans, serif;
  font-size: 2.0vw;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer-space {
  height: 8.3vh;
}

.thinking-background {
  background-image: url(../image/gotable/designthinkBK.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.design-header {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  font-weight: bold;
  text-align: center;
}

.design-description {
  font-family: Open Sans, serif;
  font-size: 2.0vw;
  text-align: center;
}

.final-header {
  font-family: Open Sans, serif;
  font-size: 2vw;
  text-align: center;
}

.move-page {
  position: relative;
  top: 600px;
}

.page-list-header {
  font-family: Raleway, serif;
  font-size: 1.67vw;
  color: #9B9B9B;
}

.page-list-item {
  font-family: Raleway, serif;
  font-size: 1.33vw;
}

.final-background {
  background-image: url(../image/gotable/2B.png);
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.move-up {
  height: 200px;
}

.final-footer {
  height: 2000px;
}

.hifi-background {
  background-image: url(../image/gotable/hifiBK.png);
  background-size: 100% 102%;
  background-repeat: no-repeat;
}

.enlarge-image {
height: auto;
  width: 125%;
}


.img-header {
  font-family: Raleway, serif;
  font-size: 2vw;
  font-weight: bold;
}

.img-des {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  font-weight: 600;
}

.self-introduction {
  font-family: Raleway, serif;
  font-size: 1.67vw;
  color: #4A4A4A;
}
.myname {
  font-family: Arvo, serif;
  font-size: 2.3vw;
  color: #4A4A4A;
}

.nav-item {
  font-family: Raleway, serif;
  font-size: 1.33vw;
  color: #4A4A4A;
}

.nav-bar {
  height: 168px;
}

.carousel {
  height: 400px;
}
.carousel .carousel-item {
  height: auto;
  width: 400px;
}

.mark1-background {
  background-image: url(../image/Halfmeter/Mask1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}
.mark1-header {
  font-family: Raleway, serif;
  font-size: 2.0vw;
  color: #7CD4C3;
}
.double-image {
  width: 100%;
  height: auto;
}

.halfmeter-section-header1 {
  background-image: url(../image/Halfmeter/searchbk.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}

.halfmeter-section-header2 {
  background-image: url(../image/Halfmeter/insights.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}

.Halfmeter-section-header-text {
  font-family: Raleway, serif;
  font-size: 3.0vw;
  font-weight: 600;
}

.halfmeter-section-title {
  font-family: Raleway, serif;
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
  color: #48B6A1;
}

.mark2-background {
  background-color: #6992A2;
  color: white;
}

.halfmeter-des-amp {
  font-weight: 600;
  color: #48B6A1;
}
.halfmeter-list li {
  color: #48B6A1;
  font-size: 2.0vw;
}
.halfmeter-list-text {
  font-family: Open Sans, serif;
  line-height: 1.2em;
  color: #ABABAB;
}

.halfmeter-section-header3 {
  background-image: url(../image/Halfmeter/redesign.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 33vh;
  color: white;
}
