.half-image {
  max-width: 50%;
  height: auto;
}

.half-height {
  max-height: 50%;
  width: auto;
}

.introduction {
  font-family: Raleway, serif;
}

.hover-image figure {
	margin: 0;
	position: relative;
}

.hover-image figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.hover-image figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.hover-image figure:hover figcaption {
	opacity: 0.5;
}
.hover-image figcaption p {
	margin-top: 70px;
  opacity: 1;
}

.parallax-container {
  height: 1200px;
}

.enlarge-text {
  color: #4fc3f7;
}

.section-header {
  font-family: Raleway, serif;
  font-size: 2.25em;
  color: #9B9B9B;
  text-align: center;
}

.description-text {
  font-family: Open Sans, serif;
  font-size: 2.25em;
  line-height: 1.2em;
}

.description-amp {
  color: #48B6A1;
}

.quote-text {
  font-family: Raleway, serif;
  font-size: 2.25em;
  text-align: center;
}

.quote-amp {
  color: #48B6A1;
  font-size: 1.4em;
}

.grey-board {
  background-color: #4A4A4A;
  color: #FFFFFF;
}

.list-head {
  font-family: Raleway, serif;
  font-size: 2.25em;
  color: #48B6A1;
}

.list-item {
  font-family: Source Sans Pro, serif;
  font-size: 1.875em;
  color: #9B9B9B;
}

.image-background {
  background-image: url(../image/gotable/personaBack.png);
  background-size: cover;
}

.persona-header {
  font-family: Raleway, serif;
  font-size: 1.875em;
  font-weight: bold;
}

.persona-description {
  font-family: Open Sans, serif;
  font-size: 1.875em;
  line-height: 1em;
}

.persona-item {
  list-style-type: disc;
  font-family: Raleway, serif;
  font-size: 1.875em;
  line-height: 1em;
}

.image-description {
  font-family: Open Sans, serif;
  font-size: 2.25em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.footer-space {
  height: 120px;
}
